
#agencyheading {
  font-size: 50px;
  text-align: center;
  line-height: 0.99;
  margin-top: 50px;
}

.glow {
text-shadow: 
        0 0 5px rgb(255, 0, 0),
        0 0 10px rgb(255, 127, 0),
        0 0 20px rgb(255, 255, 0),
        0 0 30px rgb(0, 255, 0),
        0 0 40px rgb(0, 0, 255),
        0 0 50px rgb(139, 0, 255);
}
