
#agencyheading {
  font-size: 50px;
  text-align: center;
  line-height: 0.99;
  margin-top: 50px;
}

.glow {
text-shadow: 
        0 0 5px rgb(100, 57, 255),
        0 0 10px rgba(22, 123, 81, 0.8),
        0 0 20px rgba(472, 251, 255, 0.6),
        0 0 40px rgba(6, 122, 91, 0.4),
        0 0 80px rgba65, 18, 93, 0.2);
}
